[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
[submodule "public"]
	path = public
	url = git@github.com:sanjeevkpandit/sanjeevkpandit.github.io.git
	branch = master
