a {
  color: $link-color;
  cursor: pointer;
  text-decoration: underline;
  text-shadow: white 1px 0px 0px, white -1px 0px 0px;
}

a:hover,
a:focus,
a:active {
  border: 0;
  color: $link-hover-color;
  text-shadow: white 1px 0px 0px, white -1px 0px 0px;
}

// Correct issues with buttons
button,
.button {
  text-shadow: none;
  background-image: none;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
  text-shadow: none;
  background-image: none;
}

.anchorjs-link {
    text-shadow: none;
    background-image: none;
}
.anchorjs-link:hover,
.anchorjs-link:focus,
.anchorjs-link:active{
    border: 0;
    color: $link-hover-color;
    text-shadow: none;
    background-image: none;
}
